@charset "UTF-8";
/* ===================== DEBUT GOOGLE FONTS ======================================================*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
/* DEBUT ROOT*/
:root {
  /*--------COLOR--------------------------*/
  --color0:#FFF;
  --color1:#343434;
  /* titre */
  --color2:#979ca1;
  /* gris foncé r*/
  --color3:#e4e8ee;
  /* bleu clair */
  --color4:#1d2228;
  /* bleu foncé */
  --color5:#202020;
  /*--------FONT AND TYPOGRAPHY---------------------------*/
  --font2:'Raleway', sans-serif;
  --font1: 'Mulish', sans-serif;
  --h1-font-size:1.25rem;
  --h2-font-size:0.9375rem;
  --h3-font-size:0.8125rem;
  --normal-font-size:0.75rem;
  --small-font-size:0.5625rem;
  --smaller-font-size:0.4375rem;
  /*--------FONT WEIGHT----------------------------------------------------------*/
  --font-thin: 100;
  --font-extraL: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*--------MARGIN BOTTOM---------------------------*/
  --mb-30:0.9375rem;
  --mb-40:1.25rem;
  --mb-50:1.5625rem;
  --mb-60:1.875rem;
  --mb-100:3.125rem; }
  @media (min-width: 768px) {
    :root {
      --h1-font-size:1.5625rem;
      --h2-font-size:1.125rem;
      --h3-font-size:0.9375rem;
      --normal-font-size:0.8125rem;
      --small-font-size:0.625rem;
      --smaller-font-size:0.4375rem ; } }
  @media (min-width: 768px) {
    :root {
      --mb-30:1.875rem;
      --mb-40:2.5rem;
      --mb-50:3.125rem;
      --mb-60:3.75rem;
      --mb-100:6.25rem; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: var(--font1);
  color: var(--color2); }

h1 {
  font-family: var(--font2);
  font-size: var(--h1-font-size);
  font-weight: var(--font-light);
  margin-bottom: var(--mb-60);
  color: var(--color1); }

h2 {
  font-family: var(--font1);
  font-weight: var(--font-light);
  margin-bottom: var(--mb-40);
  font-size: var(--h2-font-size);
  color: var(--color1); }

h3 {
  font-family: var(--font2);
  font-size: var(--h3-font-size);
  font-weight: var(--font-light);
  margin-bottom: var(--mb-30);
  color: var(--color1); }

p {
  font-family: var(--font2);
  color: var(--color2);
  font-weight: var(--font-light);
  font-size: var(--normal-font-size);
  line-height: 1.125rem; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

main {
  width: 100%;
  display: block;
  margin: 4.6875rem auto 0;
  padding: 0 5%; }

.grid {
  display: grid;
  gap: 1.2rem; }

.sous__section {
  padding: 0 0 6.25rem; }

/*===================== DEBUT ACHETER==========================================*/
/*------------- PARTIE FORMULAIRE -------------------------------------------*/
.acheter__formulaire-h3 {
  margin-bottom: 0;
  text-align: center; }

.btn-primary {
  background-color: transparent;
  border: none;
  cursor: pointer; }

/*------------- debut zone toggle-----------------------------*/
.formulaire__content {
  padding-top: 1.25rem; }

.formulaire__inner {
  display: block; }

/*------------- fin zone toggle -----------------------------*/
/*------------- DEBUT PARTIE FORM ----------------------------------------------------*/
.formulaire__arrow {
  transition-duration: .4s;
  transition-property: transform; }

.rotated {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg); }

/*------------- debut form texte ----------------------------------*/
.form__container-texte {
  margin-bottom: var(--mb-40); }

.input-group {
  margin: 10px 0;
  position: relative; }

.input-group label {
  display: inline-block; }

.input-group input {
  display: block;
  width: 100%;
  padding: 10px; }

.error input {
  border: 3px solid red !important; }

.success input {
  border: 3px solid green !important; }

.input-group i {
  position: absolute;
  right: 10px;
  top: 35px;
  visibility: hidden; }

.error i.ri-close-circle-fill {
  visibility: visible;
  color: red; }

.success i.ri-checkbox-circle-fill {
  visibility: visible;
  color: green; }

.input-group p {
  font-size: 15px;
  color: red;
  visibility: hidden; }

.error p {
  visibility: visible; }

.btn {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: chocolate;
  color: #fff;
  text-transform: uppercase;
  border: none; }

textarea, input[type=text], input[type=email], input[type=tel], input[type=password] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=text], input[type=email], input[type=tel], input[type=password] {
  /* Style */
  width: 100%;
  text-align: left;
  padding: 10px 0 10px 10px;
  border-radius: 0;
  border: 1px solid var(--color2);
  outline: none;
  font-family: var(--font1);
  font-size: var(--normal-font-size); }

input::-webkit-input-placeholder {
  color: var(--color2);
  font-family: var(--font2);
  text-transform: none;
  font-size: var(--normal-font-size); }

input::-moz-placeholder {
  color: var(--color2);
  font-family: var(--font2);
  text-transform: none;
  font-size: var(--normal-font-size); }

input:-moz-placeholder {
  color: var(--color2);
  font-family: var(--font2);
  text-transform: none;
  font-size: var(--normal-font-size); }

input:-ms-input-placeholder {
  color: var(--color2);
  font-family: var(--font2);
  text-transform: none;
  font-size: var(--normal-font-size); }

/*------------- fin form texe ----------------------------------*/
/*------------- debut form validation ----------------------------------*/
/*------------- fin form validation ----------------------------------*/
/*------------- FIN PARTIE FORM----------------------------------------------------*/
/*===================== FIN ACHETER=======================================================*/
/*===================== DEBUT RESPONSIVE ==========================================*/
@media (min-width: 414px) {
  .acheter__vente-line {
    display: block; }

  .form__container {
    max-width: 400px;
    display: block;
    margin: auto; } }
@media (min-width: 568px) {
  .acheter__vente-line {
    display: none; } }
@media (min-width: 768px) {
  .nav__icones {
    display: none; }

  .header__inner {
    padding: inherit;
    justify-content: center; }

  .nav__list {
    font-family: var(--font2);
    font-size: var(--small-font-size);
    display: flex;
    flex-direction: row;
    column-gap: 1.125rem; }

  .menu-btn {
    display: none; }

  .footer__before {
    height: 6.25rem; }

  .footer__inner a {
    font-size: var(--small-font-size); } }
@media (min-width: 962px) {
  .main {
    width: 800px; }

  .nav__list {
    font-size: var(--normal-font-size);
    column-gap: 3.125rem; }

  .accueil__inner {
    display: flex;
    width: 100%; }
    .accueil__inner .accueil__image {
      width: 60%;
      height: 100vh;
      height: 100vh; }
    .accueil__inner .accueil__infos {
      width: 40%;
      padding: 1.875rem 0;
      position: relative;
      background-color: var(--color3);
      display: flex;
      justify-content: center;
      align-items: center; }

  .accueil__infos-iconesPack {
    display: inherit;
    max-width: 100%; }

  .accueil__infos-iconesDuo {
    position: absolute;
    bottom: 0.9375rem;
    left: 1.25rem; }

  .footer__inner a {
    font-size: var(--normal-font-size); } }

/*# sourceMappingURL=style.css.map */
